extend layout

block content    
  .service-banner(data-ix='show-navbar')
  img.image-25(src='images/Sky2.gif')
  h1.heading-44 Contact Us
  .contact
    .contact-wrapper
      .row.w-row
        .contact-address-wrapper.w-col.w-col-6
          .contact-title-block
            h2.heading-custom.align-left Let's Connect
            .row-2.w-row
              .contact-divider-1.w-col.w-col-6
                .contact-detail-left.contact
                  .feature-icon.map
                  .feature-content
                    h4.heading-22 Contact Address
                    p.paragraph-12 #398 4th Cross Dollars Colony, Bangalore. 560054
                .contact-detail-left.contact
                  .feature-icon
                  .feature-content
                    h4.heading-22 Contact Address
                    p.paragraph-12
                      | contact@aiobee.com
                      br
                      | basavaraj@aiobee.Com
              .contact-divider-2.w-col.w-col-6
                .contact-detail-left.contact
                  .feature-icon.chat
                  .feature-content
                    h4.heading-22 Contact Address
                    p.paragraph-12
                      | Phone: 91-7204377286
                      br
                      | Mobile: 91-7676480122
                .contact-detail-left.contact
                  .feature-icon.time
                  .feature-content
                    h4.heading-22 Contact Address
                    p.paragraph-12
                      | Mon To Sat - 8 AM To 11 PM
                      br
                      | Sunday - 10 AM To 6 PM
        .contact-map.w-col.w-col-6
          .map-2.w-widget.w-widget-map(data-widget-latlng='13.0442627,77.5706994')
  .contact-form
    .contact-form-wrapper
      .container-3.w-container
        .form-block.w-form
          form(action='/contact', method='POST')
                  h1.text-block-3 write to us
                  p.paragraph-21 Please send us your query. We shortly connect with you.
                  label.field-label(for='name') Name
                  input#name.tf-2.w-input(type='text', name='name', data-name='Name', placeholder='Enter your Name', required='')
                  label.field-label(for='email') Email Address
                  input#email.tf-2.w-input(type='text', name='email', data-name='Email', placeholder='Enter your Email', required='')
                  label.field-label(for='Phone') Phone Number
                  input#Phone.tf-2.w-input(type='text', name='Phone', data-name='Phone', placeholder='Enter your Phone', required='')
                  label.field-label(for='email') message
                  input#email-2.text-field.bgh.w-input(type='text', name='message', data-name='Email 2', placeholder='Enter your Message')
                  input.button-primary.w-button(type='submit', class='value=')
          .w-form-done
            div Thank you! Your submission has been received!
          .w-form-fail
            div Oops! Something went wrong while submitting the form.
