extend layout
block content
    .hero-section._2
      .content-wrapper.w-container
        .hero-flex
          .hero-left
            .mini-title-2.paragraph-white Welcome
            h1.h1.large
              | Let's Create an Awesome 
              br
              | Experience For Your User
            p.subtitle.white
              | Be it a Branding, Web, Mobile, IOT or any cloud solution, seamless integrated User experience only helps business to thrive.
            a.button-hero-2.w-button(href='tel:+91-7676480122') Get In Touch : +91 - 7676480122
          .laptop
            img(src='images/laptop.png', srcset='images/laptop-p-800.png 800w, images/laptop.png 1220w', sizes='(max-width: 479px) 100vw, (max-width: 767px) 48vw, (max-width: 991px) 357.75px, 468px')
    .who-we-are
      h2.heading-custom Who We Are
      p.paragraph
        br
        | We are a team of professionals together with 100+ years of experience. Our team has worked across various MNCs and on various business verticals. Our experience in the Branding, Lead Generation, Web app, Android app, iOS app, CMS, CRM, ERP, Cloud Solutions, eCommerce, helps us build/offer better solutions. We are good at consulting, software development and customisation.
        br
        br
        br
    .how-we-do
      h2.heading-custom How We Do
      .content-wrapper-2
        .lines-box
          .txt-block-intro(data-w-id='c026199c-b913-dee5-4e75-6bc1b09931e7', style='opacity:0')
            img.image-3(src='images/5a8c8e1821840100016354e7_World.png', width='33')
            h3.heading Creative
            p.paragraph-2
              | Creatively in approach to solve a given challenge needs expertise and will to do so. We spice up things for the better outcomes.
              br
            a.deatail-link.bk.w-inline-block(href='#')
              .more-details.k Learn More
              img.anchor(src='images/5a8ca6628383c60001e65e54_Mini-arrow.png', width='4')
          .txt-block-intro(data-w-id='c026199c-b913-dee5-4e75-6bc1b09931f2', style='opacity:0')
            img.image-3(src='images/5a8c74ce21840100016331b3_Layers.png', width='33')
            h3.heading Effective
            p.paragraph-2
              | Effective solutions are possible only when we are efficient in understanding the problem. We love to listen from you before start solving.
            a.deatail-link.w-inline-block(href='#')
              .more-details.k Learn More
              img(src='images/5a8ca6628383c60001e65e54_Mini-arrow.png', width='4')
          .txt-block-intro.last(data-w-id='c026199c-b913-dee5-4e75-6bc1b09931fc', style='opacity:0')
            img.image-3(src='images/5a8c8e1683182b00017a6331_Nav.png', width='33')
            h3.heading Customized
            p.paragraph-2
              br
            a.deatail-link.w-inline-block(href='#')
              .more-details.k Learn More
              img(src='images/5a8ca6628383c60001e65e54_Mini-arrow.png', width='4')
        .lines-box
          .txt-block-intro(data-w-id='c026199c-b913-dee5-4e75-6bc1b0993207', style='opacity:0')
            img.image-3(src='images/5a8c8e1821840100016354e7_World.png', width='33')
            h3.heading Uniqueness
            p.paragraph-2
              | We believe every problem is unique and important to solve.
              br
            a.deatail-link.bk.w-inline-block(href='#')
              .more-details.k Learn More
              img(src='images/5a8ca6628383c60001e65e54_Mini-arrow.png', width='4')
          .txt-block-intro(data-w-id='c026199c-b913-dee5-4e75-6bc1b0993212', style='opacity:0')
            img.image-3(src='images/5a8c74ce21840100016331b3_Layers.png', width='33')
            h3.heading Navigation
            p.paragraph-2
              | Our Designers designs navigable website which increases the time a visitor or customer remains on your website.This allows visitors more time to explore your website and discover information about your company.
              br
            a.deatail-link.w-inline-block(href='#')
              .more-details.k Learn More
              img(src='images/5a8ca6628383c60001e65e54_Mini-arrow.png', width='4')
          .txt-block-intro.last(data-w-id='c026199c-b913-dee5-4e75-6bc1b099321d', style='opacity:0')
            img.image-3(src='images/5a8c8e1683182b00017a6331_Nav.png', width='33')
            h3.heading SEO Friendly Design
            p.paragraph-2
              | Our Experts design SEO friendly sites which makes sure that a site is user-friendly i.e., easy to browse, superior in performance, expedient product ordering methods etc.
              br
            a.deatail-link.w-inline-block(href='#')
              .more-details.k Learn More
              img(src='images/5a8ca6628383c60001e65e54_Mini-arrow.png', width='4')
    .our-expertise
      .content-wrapper-2.w-container
        h2.heading-custom.white-color Who We Are
        .lines-box-2
          .txt-block-feature(data-w-id='4dfa78c4-58c6-e639-61f3-f9e959e75bf4', style='opacity:0')
            img(src='https://uploads-ssl.webflow.com/5b6a8185c97f796eb72e2356/5b6a8185c97f795b0a2e237a_5a8c8e1821840100016354e7_World.png', width='33')
            h3.heading-3 Branding
            p.paragraph-4
              | We build your business and its identity through, logo, static/dynamic websites, lead generation, social/Email/SMS campaigns, web traffic and conversions.
            a.link-block-4.w-inline-block(href='#')
              .text-block-4 Learn More
              img(src='/images/5a98142b47dc62000159a3af_Arrow-2.png', width='4')
          .txt-block-feature(data-w-id='4dfa78c4-58c6-e639-61f3-f9e959e75bfe', style='opacity:0')
            img(src='https://uploads-ssl.webflow.com/5b6a8185c97f796eb72e2356/5b6a8185c97f79531b2e237b_5a8c74ce21840100016331b3_Layers.png', width='33')
            h3.heading-3 product engineering
            p.paragraph-4
              | We can augment your process of product development by bringing right people with right skill. We understand time to market is crucial to test your ideas.
            a.link-block-4.w-inline-block(href='#')
              .text-block-4 Learn More
              img(src='images/5a98142b47dc62000159a3af_Arrow-2.png', width='4')
          .txt-block-feature.nob(data-w-id='4dfa78c4-58c6-e639-61f3-f9e959e75c08', style='opacity:0')
            img(src='https://uploads-ssl.webflow.com/5b6a8185c97f796eb72e2356/5b6a8185c97f7939832e237c_5a8c8e1683182b00017a6331_Nav.png', width='33')
            h3.heading-3 consulting
            p.paragraph-4
              | We do professional consulting for various tech related projects, be it web development, mobile, IOT, or deploying your solutions on cloud, or even integration.
            a.link-block-4.w-inline-block(href='#')
              .text-block-4 Learn More
              img(src='/images/5a98142b47dc62000159a3af_Arrow-2.png', width='4')
        .lines-box-2.no-border
          .txt-block-feature(data-w-id='4dfa78c4-58c6-e639-61f3-f9e959e75c13', style='opacity:0')
            img(src='/images/5a8c8e17d100f20001e34eaa_Gift.png', width='33')
            h3.heading-3 product development
            p.paragraph-4
              | If you have an idea, we can help you to build right product with agile methodology. We are ready to walk a mile or two to see your idea sees the light of the day.
            a.link-block-4.w-inline-block(href='#')
              .text-block-4 Learn More
              img(src='/images/5a98142b47dc62000159a3af_Arrow-2.png', width='4')
          .txt-block-feature(data-w-id='4dfa78c4-58c6-e639-61f3-f9e959e75c1d', style='opacity:0')
            img(src='/images/5a8c8e1680b83a00012042ad_Mic.png', width='22')
            h3.heading-3 Open source
            p.paragraph-4
              | We can help you to lots of Open source tools to your business needs. Wordpress, Drupal, Zoomla, OpenCart, Shopify, WooCommerce, Magento, SuiteCRM, and many more
            a.link-block-4.w-inline-block(href='#')
              .text-block-4 Learn More
              img(src='images/5a98142b47dc62000159a3af_Arrow-2.png', width='4')
          .txt-block-feature.nob(data-w-id='4dfa78c4-58c6-e639-61f3-f9e959e75c27', style='opacity:0')
            img(src='images/5a8c8e16d100f20001e34ea9_Shield-2.png', width='33')
            h3.heading-3 app development
            p.paragraph-4
              | We build web application and Android and iOS apps for your business. Web and mobile together covers 99% of the internet traffic. We also help them get deep link to increase the user experiance
            a.link-block-4.w-inline-block(href='#')
              .text-block-4 Learn More
              img(src='images/5a98142b47dc62000159a3af_Arrow-2.png', width='4')
    .services
      .content-wrapper-3.w-container
        .who-we-are
          h2.heading-custom Services
          p.paragraph
            | With our vast experience working with different technologies and services, we can implement a variety of technology stacks that our clients might request.
            br
        .service-wrapper.padding
          .service-wrapper-description
            .service-item(data-w-id='95fbc26f-9877-65b0-aeeb-cc9810e54fe8', style='opacity:0')
              .left-icon-flex
                .blue-bg._1._2
                  .number-dot 1
              .text-right
                h4.heading-4 Web Portal Development
                p.paragraph-20
                  strong.paragraph-5
                    | Looking for a reliable web design company AIOBEE is trusted website designing company .website is a foundation of your online business ,Your company website is your brand online ambassador. It reaches out to thousands of people every day from different geographical area.
                .div-block-2.m
                  a.link-block-4.bk.w-inline-block(href='#')
                    .text-block-4.k Learn More
                    img(src='https://uploads-ssl.webflow.com/5b6a8185c97f796eb72e2356/5b6a8185c97f79877d2e2379_5a8ca6628383c60001e65e54_Mini-arrow.png', width='4')
            .service-item(data-w-id='95fbc26f-9877-65b0-aeeb-cc9810e54ff8', style='opacity:0')
              .left-icon-flex
                .blue-bg._1
                  .number-dot 2
              .text-right
                h4.heading-4
                  | E commerce Development
                  br
                p.paragraph-5
                  strong.paragraph-5
                    | AIOBEE It Solutions offers wide range of software solutions and web application, eCommerce web development plug-in & module development solutions for small and medium level enterprises.
                  br
                .div-block-3
                  a.link-block-4.bk.w-inline-block(href='#')
                    .text-block-4.k Learn More
                    img(src='https://uploads-ssl.webflow.com/5b6a8185c97f796eb72e2356/5b6a8185c97f79877d2e2379_5a8ca6628383c60001e65e54_Mini-arrow.png', width='4')
          .service-wrapper-description
            .service-item(data-w-id='95fbc26f-9877-65b0-aeeb-cc9810e5500b', style='opacity:0')
              .left-icon-flex
                .blue-bg._1._2._3
                  .number-dot 3
              .text-right
                h4.heading-4
                  | SEO Services
                  br
                p.paragraph-5
                  strong.paragraph-5
                    | Search Engine Optimisation (SEO) helps discoverability of brand in the world of digital connectedness. Potential customer based is scattered across different digital platform. Making your digital presence accessible in search engines and social networks uncover your true business value.
                    br
                .div-block-2.m
                  a.link-block-4.bk.w-inline-block(href='#')
                    .text-block-4.k Learn More
                    img(src='https://uploads-ssl.webflow.com/5b6a8185c97f796eb72e2356/5b6a8185c97f79877d2e2379_5a8ca6628383c60001e65e54_Mini-arrow.png', width='4')
            .service-item(data-w-id='95fbc26f-9877-65b0-aeeb-cc9810e5501d', style='opacity:0')
              .left-icon-flex
                .blue-bg._1._4
                  .number-dot 4
              .text-right
                h4.heading-4
                  | Cloud Computing
                  br
                p.paragraph-5
                  | Cloud is most robust and cost effective alternative for your IT infrastructure. "Pay as you go" , "pay only when you use it" and "Pay only when you grow big" models helps business to try new innovating models.
                  br
                .div-block-3
                  a.link-block-4.bk.w-inline-block(href='#')
                    .text-block-4.k Learn More
                    img(src='https://uploads-ssl.webflow.com/5b6a8185c97f796eb72e2356/5b6a8185c97f79877d2e2379_5a8ca6628383c60001e65e54_Mini-arrow.png', width='4')
          .service-wrapper-description.nbb
            .service-item(data-w-id='95fbc26f-9877-65b0-aeeb-cc9810e5502f', style='opacity:0')
              .left-icon-flex
                .blue-bg._1._2._3._5
                  .number-dot 5
              .text-right
                h4.heading-4 Branding Design
                p.paragraph-5
                  | Our Brand Strategy gives you a major edge to expanding the competitive market and helps differentiate your product or service from others.
                .div-block-2.m
                  a.link-block-4.bk.w-inline-block(href='#')
                    .text-block-4.k Learn More
                    img(src='https://uploads-ssl.webflow.com/5b6a8185c97f796eb72e2356/5b6a8185c97f79877d2e2379_5a8ca6628383c60001e65e54_Mini-arrow.png', width='4')
            .service-item(data-w-id='95fbc26f-9877-65b0-aeeb-cc9810e5503e', style='opacity:0')
              .left-icon-flex
                .blue-bg._1._4._6
                  .number-dot 6
              .text-right
                h4.heading-4 Mobile Apps
                p.paragraph-5
                  strong.paragraph-5
                    | AIOBEE solution meet the custom mobile app development requirements of our clients around the world.We focus on simplicity, design, and superior user experience while developing mobile apps for the consumer market.
                .div-block-3
                  a.link-block-4.bk.w-inline-block(href='#')
                    .text-block-4.k Learn More
                    img(src='https://uploads-ssl.webflow.com/5b6a8185c97f796eb72e2356/5b6a8185c97f79877d2e2379_5a8ca6628383c60001e65e54_Mini-arrow.png', width='4')
    .blogs
      .blogs-header.w-container
        h2.heading-custom Latest Blogs
      #blogs-wrapper.blogs-wrapper.static
        each blog in blogs
          .blog-wrapper.in-blog(data-w-id='42119ce4-3529-1702-5308-28c1d5a4b3b9', style='opacity:0')
        
            .blog-featured-image
              img(src=blog.featuredimage)
              
            .blog-body
              .div-block-34
                a.catagory-txt.w-inline-block(href='#')
              h4.blog-title-name #{blog.title}
              p.blog-description #{blog.summary}
                
              .blog-separator
              .blog-top-space._30
              .read-blog
                a.read-more.w-button(href='blogs/'+blog.title+'/'+blog._id) Read More

    .contact
      .contact-wrapper
        .row.w-row
          .contact-address-wrapper.w-col.w-col-6
            .contact-title-block
              h2.heading-custom.align-left(data-w-id='7c86902d-2d85-b4cb-e0e7-035c5e6818f8', style='opacity:0') Let's Connect
              .row-2.w-row
                .contact-divider-1.w-col.w-col-6
                  .contact-detail-left.contact(data-w-id='8ab39135-1a9e-7d99-93d3-fd6f3eb74b15', style='opacity:0')
                    .feature-icon.map
                    .feature-content
                      h4.heading-22 Contact Address
                      p.paragraph-12 #398 4th Cross Dollars Colony, Bangalore. 560054
                  .contact-detail-left.contact(data-w-id='8ab39135-1a9e-7d99-93d3-fd6f3eb74b1c', style='opacity:0')
                    .feature-icon
                    .feature-content
                      h4.heading-22 Contact Address
                      p.paragraph-12
                        | contact@aiobee.com
                        br
                        | basavaraj@aiobee.Com
                .contact-divider-2.w-col.w-col-6
                  .contact-detail-left.contact(data-w-id='8ab39135-1a9e-7d99-93d3-fd6f3eb74b26', style='opacity:0')
                    .feature-icon.chat
                    .feature-content
                      h4.heading-22 Contact Address
                      p.paragraph-12
                        | Phone: 91-7204377286
                        br
                        | Mobile: 91-7676480122
                  .contact-detail-left.contact(data-w-id='8ab39135-1a9e-7d99-93d3-fd6f3eb74b2f', style='opacity:0')
                    .feature-icon.time
                    .feature-content
                      h4.heading-22 Contact Address
                      p.paragraph-12
                        | Mon To Sat - 8 AM To 11 PM
                        br
                        | Sunday - 10 AM To 6 PM
          .contact-map.w-col.w-col-6
            .map-2.w-widget.w-widget-map(data-widget-latlng='13.0442627,77.5706994', data-w-id='786589ae-550e-92f2-e509-d66f6efa1a1d', style='opacity:0')
    